<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 读取properties文件 -->
<properties resource="dataBase.properties"/>
<!-- 设置日志打印方式 -->
<settings>
	<setting name="logImpl" value="LOG4J"/>
	<setting name="autoMappingBehavior" value="FULL"/>
</settings>
<!-- 配置运行环境 -->
<typeAliases>
<package name="com.bdqn.smbms.pojo"/>
</typeAliases>
	<environments default="devlopment">
	<environment id="devlopment">
	<!-- <environment id="test"></environment> -->
	<transactionManager type="JDBC"/>
	<dataSource type="POOLED">
		<property name="driver" value="${driver}"/>
		<property name="url" value="${url}"/>
		<property name="username" value="${userName}"/>
		<property name="password" value="${password}"/>	
	</dataSource>
	</environment>
</environments>
<!-- 引入Mapper.xml -->
<mappers>
	<mapper resource="com/bdqn/smbms/dao/ProviderMapper.xml"/>
</mappers>
</configuration>